annotated-types==0.6.0
compress-pickle==2.1.0
lz4==4.3.3
packaging==24.1
pluggy==1.5.0
pybind11==2.13.6
semver==3.0.2
setuptools==69.0.3
typing_extensions==4.12.2
toml==0.10.2
git+ssh://git@distrib.sgs-devel.com/home/git/core_types.git@b83baa9654d86c8ca695ddffbb031050f76fc7ac#egg=core_types
