annotated-types==0.6.0
# "base_types @ git+ssh://git@github.com/santiagomora/base_types.git@b0eb87cbf82a2a6dd4c816d11f263b622ea6b9ff#egg=base_types",
compress-pickle==2.1.0
lz4==4.3.3
mypy==1.8.0
mypy-extensions==1.0.0
packaging==24.1
pluggy==1.5.0
psycopg==3.1.17
pybind11==2.13.6
pydantic==2.10.6
pydantic_core==2.27.2
pytest==8.2.2
semver==3.0.2
setuptools==69.0.3
typing_extensions==4.12.2
toml==0.10.2
